<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Текущее время</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/tbase.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/html/base">Главная страница</a>
       {{if .Descr}}
        <p> Текущее время</p>
            {{end}}
        <table id="localTimes">
          {{ range .Times }}
          <tr><td class="dc">{{ .Descr}}</td><td>{{ .Time}}</td></tr>
          {{- end}}
        </table>
    </div>
</body>
</html>